@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
}

:root{
    --Very-dark-blue: hsl(233, 47%, 7%);
    --Dark-desaturated-blue:  hsl(244, 38%, 16%);
    --Soft-violet: hsl(277, 64%, 61%);
    --transparent-white: hsla(0, 0%, 100%, 0.75);
    --Lexend-Deca: "Lexend Deca";
    --Inter-font: "Inter";
    --mobile-view: 920px
}

body{
    background-color: var(--Very-dark-blue);
    color: white;
    justify-content: center;
    align-items: center;
    // overflow: hidden;
}

.container{
    width: 80%;
    display: flex;
    margin: 100px auto;
    height: 450px;
    background-color: var(--Dark-desaturated-blue);

    @media screen and (max-width: 620px){
        flex-direction: column;
        position: relative;
        height: 740px;
        
    }

}   

.image{
    height: 100%;
    width: 50%;
    position: relative;
    
    #mobile-image{
        visibility: hidden;
    }


    #desktop-image{
        
        height: 100%;
        width: 100%;
    }

    #soft-background{
        background-color: var(--Soft-violet);
        position: absolute;
        height:100%;
        width: 100%;
        top: 0;
        opacity: 0.5;
    }

    @media screen and (max-width: 620px){
        position: absolute;
        top: 0;
        height: 30%;
        width: 100%;
        

        #mobile-image{
            visibility: visible;
            height: 100%;
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
        }

        #desktop-image{
            visibility: hidden;
        }

        #soft-background{
            background-color: var(--Soft-violet);
            height:100%;
            width: 100%;
            opacity: 0.5;
            z-index: 10;
        }
    }
}

.text{
    height: 100%;
    width: 50%;
    position: relative;
    display: flex;
    flex-direction: column;

    .headline-text{
        margin: 70px;

        font-size: 15px;
        color: var(--transparent-white);
        font-family: var(--Inter-font);

        h1{
            font-family: var(--Lexend-Deca);
            margin-bottom: 40px;
            color: white;
            span{
                color: var(--Soft-violet);
            }
        }
        p{
            line-height: 1.6
        }
    }


    .features-data{
        display: flex;
        color: white;
        width: 70%;
        
        margin: 0 auto 20px auto;
        justify-content: space-between;

        div{
            
            h2{
                padding-bottom: 10px;
                font-family: var(--Lexend-Deca);
            }
        }

        small{
            color: var(--transparent-white);
            font-family: var(--Inter-font)
        }

        @media screen and (max-width: 620px){
            flex-direction: column;
            
            div{
                margin: 5px;
            }
        }
    }

    @media screen and (max-width: 620px){
        position: absolute;
        bottom: 0;
        text-align: center;
        width: 100%;
        height: 70%;

        .headline-text{
            margin: 15px auto;
            width: 80%;
            h1{
                margin-bottom: 15px;
            }
 
        }    

    }

}